@model MVC_StartProject.Models.KitapTbl

@{
    ViewBag.Title = "KitapGuncelle";
    Layout = "~/Views/Shared/KitapLayout.cshtml";
}

<h2>Kitap Bilgisi Güncelleme</h2>
<br /><br />

@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
{
    @Html.HiddenFor(x => x.KitapID)
    <div class="form-inline" style="margin-bottom: 20px;">
        @Html.Label("Kitap Adı")
        @Html.TextBoxFor(x => x.Adi, new { @class = "form-control", @style = "margin-left: 40px;" })
    </div>

    <div class="form-inline" style="margin-bottom: 20px;">
        @Html.Label("Sayfa")
        @Html.TextBoxFor(x => x.Sayfano, new { @class = "form-control", @style = "margin-left: 66px;" })
    </div>

    <div class="form-inline" style="margin-bottom: 20px;">
        @Html.Label("Kitap Yazarı")
        @Html.TextBoxFor(x => x.Yazar, new { @class = "form-control", @style = "margin-left: 24px;" })
    </div>

    <div class="form-inline" style="margin-bottom: 20px;">
        @Html.Label("Kategori")
        @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control", @style = "margin-left: 45px;" })
    </div>

    <button class="btn btn-success btn-block" style="width: 310px;"> Değişiklikleri Kaydet </button>
}